@font-face {font-family: "Times New Roman MT";
    src: url("../fonts/times new roman mt/c4540c0dbd7c6a2eae38e9ade0bb423d.eot");
    src: url("../fonts/times new roman mt/c4540c0dbd7c6a2eae38e9ade0bb423d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/times new roman mt/c4540c0dbd7c6a2eae38e9ade0bb423d.woff2") format("woff2"),
    url("../fonts/times new roman mt/c4540c0dbd7c6a2eae38e9ade0bb423d.woff") format("woff"),
    url("../fonts/times new roman mt/c4540c0dbd7c6a2eae38e9ade0bb423d.ttf") format("truetype"),
    url("../fonts/times new roman mt/c4540c0dbd7c6a2eae38e9ade0bb423d.svg#Times New Roman MT") format("svg");
}

@font-face {font-family: "Times BQ";
    src: url("../fonts/times bq/70e2fc5ab8ef05359ba84a1ffcd6c934.eot");
    src: url("../fonts/times bq/70e2fc5ab8ef05359ba84a1ffcd6c934.eot?#iefix") format("embedded-opentype"),
    url("../fonts/times bq/70e2fc5ab8ef05359ba84a1ffcd6c934.woff2") format("woff2"),
    url("../fonts/times bq/70e2fc5ab8ef05359ba84a1ffcd6c934.woff") format("woff"),
    url("../fonts/times bq/70e2fc5ab8ef05359ba84a1ffcd6c934.ttf") format("truetype"),
    url("../fonts/times bq/70e2fc5ab8ef05359ba84a1ffcd6c934.svg#Times BQ") format("svg");
}

@font-face {font-family: "CenturyNova-Cd";
    src: url("../fonts/century/985b64bc40bd9d85ef513335680d335c.eot");
    src: url("../fonts/century/985b64bc40bd9d85ef513335680d335c.eot?#iefix") format("embedded-opentype"),
    url("../fonts/century/985b64bc40bd9d85ef513335680d335c.woff2") format("woff2"),
    url("../fonts/century/985b64bc40bd9d85ef513335680d335c.woff") format("woff"),
    url("../fonts/century/985b64bc40bd9d85ef513335680d335c.ttf") format("truetype"),
    url("../fonts/century/985b64bc40bd9d85ef513335680d335c.svg#CenturyNova-Cd") format("svg");
}

@font-face {font-family: "Arial Th";
    src: url("../fonts/arial th/733be9bd8880306cb0113715f756de54.eot");
    src: url("../fonts/arial th/733be9bd8880306cb0113715f756de54.eot?#iefix") format("embedded-opentype"),
    url("../fonts/arial th/733be9bd8880306cb0113715f756de54.woff2") format("woff2"),
    url("../fonts/arial th/733be9bd8880306cb0113715f756de54.woff") format("woff"),
    url("../fonts/arial th/733be9bd8880306cb0113715f756de54.ttf") format("truetype"),
    url("../fonts/arial th/733be9bd8880306cb0113715f756de54.svg#Arial Th") format("svg");
}

@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.694000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:2.166000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:7.224000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.707000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.127000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.688000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.682220;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:5.728000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.686000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.960000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.667000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.849000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.753000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:0.902000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:1.056980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:1.169000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff11;src:url(f11.woff)format("woff");}.ff11{font-family:ff11;line-height:0.679000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff12;src:url(f12.woff)format("woff");}.ff12{font-family:ff12;line-height:0.686000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff13;src:url(f13.woff)format("woff");}.ff13{font-family:ff13;line-height:1.219000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff14;src:url(f14.woff)format("woff");}.ff14{font-family:ff14;line-height:0.716000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff15;src:url(f15.woff)format("woff");}.ff15{font-family:ff15;line-height:0.666000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff16;src:url(f16.woff)format("woff");}.ff16{font-family:ff16;line-height:0.696000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff17;src:url(f17.woff)format("woff");}.ff17{font-family:ff17;line-height:0.741059;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff18;src:url(f18.woff)format("woff");}.ff18{font-family:ff18;line-height:0.795259;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff19;src:url(f19.woff)format("woff");}.ff19{font-family:ff19;line-height:0.859824;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1a;src:url(f1a.woff)format("woff");}.ff1a{font-family:ff1a;line-height:0.666000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1b;src:url(f1b.woff)format("woff");}.ff1b{font-family:ff1b;line-height:0.711000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.228148,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.228148,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.228148,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4c{letter-spacing:-0.964800px;}
.lsc2{letter-spacing:-0.960000px;}
.ls65{letter-spacing:-0.936000px;}
.ls4e{letter-spacing:-0.480000px;}
.ls44{letter-spacing:-0.472800px;}
.ls66{letter-spacing:-0.460800px;}
.ls79{letter-spacing:-0.424800px;}
.ls43{letter-spacing:-0.388800px;}
.lsa3{letter-spacing:-0.321600px;}
.ls45{letter-spacing:-0.320000px;}
.ls3{letter-spacing:-0.312000px;}
.ls2f{letter-spacing:-0.308800px;}
.ls60{letter-spacing:-0.297600px;}
.ls5f{letter-spacing:-0.294800px;}
.lsaf{letter-spacing:-0.290800px;}
.ls86{letter-spacing:-0.253200px;}
.ls1{letter-spacing:-0.244800px;}
.ls5{letter-spacing:-0.237600px;}
.lsad{letter-spacing:-0.236400px;}
.ls4d{letter-spacing:-0.208400px;}
.ls48{letter-spacing:-0.199600px;}
.lsc7{letter-spacing:-0.196800px;}
.ls7e{letter-spacing:-0.189600px;}
.ls71{letter-spacing:-0.188800px;}
.ls18{letter-spacing:-0.186400px;}
.ls59{letter-spacing:-0.184000px;}
.lsae{letter-spacing:-0.182400px;}
.ls73{letter-spacing:-0.177600px;}
.ls63{letter-spacing:-0.176800px;}
.ls52{letter-spacing:-0.173600px;}
.ls17{letter-spacing:-0.168800px;}
.ls92{letter-spacing:-0.160000px;}
.ls7d{letter-spacing:-0.156000px;}
.ls36{letter-spacing:-0.151200px;}
.ls32{letter-spacing:-0.150000px;}
.ls53{letter-spacing:-0.149600px;}
.ls8{letter-spacing:-0.146400px;}
.ls58{letter-spacing:-0.140800px;}
.ls57{letter-spacing:-0.131200px;}
.ls4f{letter-spacing:-0.128800px;}
.ls9a{letter-spacing:-0.122800px;}
.ls2{letter-spacing:-0.118400px;}
.lsc0{letter-spacing:-0.111200px;}
.ls5b{letter-spacing:-0.107600px;}
.ls33{letter-spacing:-0.099600px;}
.ls40{letter-spacing:-0.086400px;}
.ls15{letter-spacing:-0.084000px;}
.ls6a{letter-spacing:-0.074000px;}
.lsc{letter-spacing:-0.062400px;}
.ls1b{letter-spacing:-0.059600px;}
.ls64{letter-spacing:-0.056800px;}
.ls7b{letter-spacing:-0.056000px;}
.ls6{letter-spacing:-0.052800px;}
.ls89{letter-spacing:-0.050400px;}
.ls7f{letter-spacing:-0.046800px;}
.ls77{letter-spacing:-0.034400px;}
.lsa0{letter-spacing:-0.033600px;}
.ls3a{letter-spacing:-0.028000px;}
.ls8d{letter-spacing:-0.022400px;}
.ls62{letter-spacing:-0.019200px;}
.ls8b{letter-spacing:-0.016800px;}
.lsa5{letter-spacing:-0.015600px;}
.lsd{letter-spacing:-0.014400px;}
.ls46{letter-spacing:-0.013200px;}
.ls9d{letter-spacing:-0.012400px;}
.ls3d{letter-spacing:-0.012000px;}
.ls61{letter-spacing:-0.010800px;}
.ls29{letter-spacing:-0.009600px;}
.ls30{letter-spacing:-0.008800px;}
.lsaa{letter-spacing:-0.008400px;}
.ls39{letter-spacing:-0.008000px;}
.ls8f{letter-spacing:-0.007200px;}
.ls9{letter-spacing:-0.004800px;}
.ls31{letter-spacing:-0.004000px;}
.lsbd{letter-spacing:-0.003200px;}
.ls1c{letter-spacing:-0.002400px;}
.ls35{letter-spacing:-0.001600px;}
.ls2e{letter-spacing:-0.001200px;}
.ls1d{letter-spacing:-0.000800px;}
.ls0{letter-spacing:0.000000px;}
.ls12{letter-spacing:0.000800px;}
.ls34{letter-spacing:0.001200px;}
.ls6d{letter-spacing:0.002000px;}
.ls97{letter-spacing:0.002400px;}
.lsab{letter-spacing:0.003600px;}
.ls38{letter-spacing:0.004000px;}
.lsa6{letter-spacing:0.004800px;}
.lsbb{letter-spacing:0.005600px;}
.ls11{letter-spacing:0.006000px;}
.lsc8{letter-spacing:0.006400px;}
.ls42{letter-spacing:0.006800px;}
.ls55{letter-spacing:0.007600px;}
.ls98{letter-spacing:0.008400px;}
.ls10{letter-spacing:0.010800px;}
.ls5e{letter-spacing:0.011600px;}
.ls22{letter-spacing:0.013200px;}
.ls6c{letter-spacing:0.014400px;}
.ls75{letter-spacing:0.015600px;}
.ls85{letter-spacing:0.016800px;}
.ls5d{letter-spacing:0.018400px;}
.ls9e{letter-spacing:0.019200px;}
.ls91{letter-spacing:0.021600px;}
.ls49{letter-spacing:0.024000px;}
.ls7a{letter-spacing:0.027200px;}
.lsbf{letter-spacing:0.030800px;}
.ls81{letter-spacing:0.031200px;}
.ls74{letter-spacing:0.033600px;}
.lsc4{letter-spacing:0.038000px;}
.ls50{letter-spacing:0.039200px;}
.lsa4{letter-spacing:0.039600px;}
.lsb{letter-spacing:0.040800px;}
.ls47{letter-spacing:0.042400px;}
.lsb8{letter-spacing:0.043200px;}
.lsac{letter-spacing:0.045600px;}
.ls37{letter-spacing:0.055200px;}
.ls76{letter-spacing:0.058000px;}
.lse{letter-spacing:0.060000px;}
.ls19{letter-spacing:0.062400px;}
.ls4{letter-spacing:0.067200px;}
.lsf{letter-spacing:0.072000px;}
.ls2d{letter-spacing:0.075200px;}
.ls93{letter-spacing:0.076800px;}
.ls23{letter-spacing:0.079200px;}
.ls26{letter-spacing:0.086400px;}
.ls96{letter-spacing:0.090000px;}
.lsc3{letter-spacing:0.096000px;}
.lsb5{letter-spacing:0.099600px;}
.ls7{letter-spacing:0.112800px;}
.lsb9{letter-spacing:0.114000px;}
.ls88{letter-spacing:0.121600px;}
.ls24{letter-spacing:0.122400px;}
.ls6f{letter-spacing:0.129600px;}
.ls2b{letter-spacing:0.135200px;}
.ls70{letter-spacing:0.135600px;}
.ls72{letter-spacing:0.142400px;}
.ls90{letter-spacing:0.144800px;}
.ls2a{letter-spacing:0.147600px;}
.ls8e{letter-spacing:0.150800px;}
.ls27{letter-spacing:0.152000px;}
.lsb2{letter-spacing:0.158400px;}
.ls84{letter-spacing:0.160000px;}
.ls82{letter-spacing:0.162400px;}
.ls99{letter-spacing:0.168400px;}
.lsb7{letter-spacing:0.178400px;}
.ls1e{letter-spacing:0.186400px;}
.ls78{letter-spacing:0.194000px;}
.lsc6{letter-spacing:0.196000px;}
.lsa7{letter-spacing:0.201600px;}
.ls1a{letter-spacing:0.208800px;}
.ls83{letter-spacing:0.211200px;}
.ls6b{letter-spacing:0.216000px;}
.ls6e{letter-spacing:0.237600px;}
.ls68{letter-spacing:0.240000px;}
.ls7c{letter-spacing:0.240800px;}
.ls3f{letter-spacing:0.248400px;}
.ls5a{letter-spacing:0.257200px;}
.ls8a{letter-spacing:0.269600px;}
.ls20{letter-spacing:0.273600px;}
.ls8c{letter-spacing:0.279600px;}
.ls51{letter-spacing:0.288000px;}
.ls16{letter-spacing:0.289200px;}
.lsb0{letter-spacing:0.300800px;}
.ls69{letter-spacing:0.320000px;}
.ls3c{letter-spacing:0.324000px;}
.lsb4{letter-spacing:0.326800px;}
.ls94{letter-spacing:0.331200px;}
.ls2c{letter-spacing:0.339200px;}
.lsb6{letter-spacing:0.348000px;}
.lsa{letter-spacing:0.374400px;}
.lsa2{letter-spacing:0.380000px;}
.lsa8{letter-spacing:0.381200px;}
.lsa1{letter-spacing:0.383200px;}
.ls95{letter-spacing:0.384000px;}
.ls3e{letter-spacing:0.390800px;}
.lsbc{letter-spacing:0.393600px;}
.lsbe{letter-spacing:0.395200px;}
.ls54{letter-spacing:0.412800px;}
.ls4b{letter-spacing:0.443600px;}
.ls3b{letter-spacing:0.444000px;}
.lsb3{letter-spacing:0.451200px;}
.ls41{letter-spacing:0.478400px;}
.lsb1{letter-spacing:0.480000px;}
.ls4a{letter-spacing:0.493200px;}
.ls87{letter-spacing:0.496800px;}
.lsc1{letter-spacing:0.518400px;}
.ls5c{letter-spacing:0.559200px;}
.lsc5{letter-spacing:0.570800px;}
.ls9c{letter-spacing:0.604800px;}
.lsba{letter-spacing:0.614400px;}
.ls28{letter-spacing:0.640000px;}
.ls80{letter-spacing:0.782400px;}
.ls21{letter-spacing:0.824000px;}
.ls67{letter-spacing:0.892800px;}
.ls1f{letter-spacing:0.945600px;}
.ls14{letter-spacing:0.950400px;}
.ls13{letter-spacing:0.960000px;}
.ls9b{letter-spacing:0.993600px;}
.ls25{letter-spacing:1.012800px;}
.ls9f{letter-spacing:1.159200px;}
.ls56{letter-spacing:1.262400px;}
.lsa9{letter-spacing:8.640000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws4{word-spacing:-8.744000px;}
.ws3{word-spacing:-8.472000px;}
.ws1{word-spacing:-6.736000px;}
.ws5{word-spacing:-5.864000px;}
.ws2{word-spacing:-5.808000px;}
.ws6{word-spacing:-4.896000px;}
.ws7{word-spacing:-2.216000px;}
.ws8{word-spacing:-2.208000px;}
.ws9{word-spacing:-1.908000px;}
.ws0{word-spacing:0.000000px;}
.wsa{word-spacing:19.288000px;}
._16{margin-left:-48.095996px;}
._17{margin-left:-41.492076px;}
._15{margin-left:-16.898000px;}
._1a{margin-left:-9.964796px;}
._b{margin-left:-8.744004px;}
._a{margin-left:-6.738000px;}
._6{margin-left:-5.454400px;}
._c{margin-left:-4.026000px;}
._2{margin-left:-2.374400px;}
._4{margin-left:-1.323200px;}
._0{width:1.108800px;}
._1{width:3.132000px;}
._3{width:4.599200px;}
._7{width:6.376800px;}
._5{width:8.200000px;}
._10{width:10.254400px;}
._11{width:11.322400px;}
._d{width:14.532000px;}
._8{width:15.936012px;}
._13{width:16.955200px;}
._9{width:19.813200px;}
._14{width:20.867200px;}
._e{width:23.625200px;}
._f{width:25.700800px;}
._18{width:28.371996px;}
._19{width:29.852000px;}
._12{width:125.494400px;}
.fc1d{color:rgb(8,12,12);}
.fc1c{color:rgb(32,63,107);}
.fc1a{color:rgb(12,84,152);}
.fc17{color:rgb(35,35,35);}
.fc9{color:rgb(5,5,5);}
.fc8{color:rgb(10,11,11);}
.fc7{color:rgb(9,10,10);}
.fc0{color:rgb(4,4,4);}
.fc6{color:rgb(7,8,8);}
.fc5{color:rgb(11,12,12);}
.fc13{color:rgb(6,6,6);}
.fc2{color:rgb(14,14,14);}
.fc1b{color:rgb(24,84,152);}
.fc1{color:rgb(7,7,7);}
.fc4{color:rgb(12,12,12);}
.fc3{color:rgb(21,22,22);}
.fca{color:rgb(4,5,5);}
.fc18{color:rgb(25,26,26);}
.fcb{color:rgb(8,10,10);}
.fc16{color:rgb(25,25,25);}
.fcc{color:rgb(8,9,9);}
.fcd{color:rgb(6,7,7);}
.fce{color:rgb(8,8,8);}
.fc1e{color:rgb(224,52,80);}
.fc19{color:rgb(22,22,22);}
.fcf{color:rgb(5,6,6);}
.fc10{color:rgb(6,8,8);}
.fc11{color:rgb(5,7,7);}
.fc12{color:rgb(9,12,12);}
.fc14{color:rgb(9,9,9);}
.fc15{color:rgb(7,9,9);}
.fsb{font-size:20.000000px;}
.fs2{font-size:24.000000px;}
.fs8{font-size:26.000000px;}
.fs6{font-size:30.000000px;}
.fsa{font-size:32.000000px;}
.fs5{font-size:34.000000px;}
.fs1{font-size:37.000000px;}
.fs16{font-size:40.000000px;}
.fs7{font-size:42.000000px;}
.fs4{font-size:46.000000px;}
.fs15{font-size:48.000000px;}
.fs3{font-size:54.000000px;}
.fs9{font-size:56.000000px;}
.fs17{font-size:64.000000px;}
.fs13{font-size:68.000000px;}
.fs12{font-size:72.000000px;}
.fs0{font-size:74.000000px;}
.fsf{font-size:92.000000px;}
.fsd{font-size:106.000000px;}
.fse{font-size:112.000000px;}
.fs11{font-size:164.000000px;}
.fsc{font-size:168.000000px;}
.fs10{font-size:172.000000px;}
.fs14{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y6f{bottom:28.560000px;}
.y64{bottom:40.510000px;}
.y63{bottom:90px;}
.y62{bottom:90.2px;}
.y61{bottom:108.950000px;}
.y6e{bottom:110.150000px;}
.y60{bottom:112.5px;}
.y6d{bottom:111.840000px;}
.y5f{bottom:122.160000px;}
.y6c{bottom:121px;}
.y5d{bottom:130.5px;}
.y6b{bottom:133.210000px;}
.y5e{bottom:134.880000px;}
.y5b{bottom:139.040000px;}
.y6a{bottom:143.640000px;}
.y5a{bottom:147.550000px;}
.y59{bottom:150.860000px;}
.y58{bottom:153.270000px;}
.y5c{bottom:154.880000px;}
.y57{bottom:154.910000px;}
.y69{bottom:163.450000px;}
.y56{bottom:166.090000px;}
.y55{bottom:167.5px;}
.y54{bottom:192.2px;}
.y53{bottom:201.6px;}
.y52{bottom:211px;}
.y68{bottom:218.980000px;}
.y51{bottom:222.5px;}
.y67{bottom:234.960000px;}
.y50{bottom:235.6px;}
.y4f{bottom:257px;}
.y4e{bottom:263.520000px;}
.y4d{bottom:266.8px;}
.y4c{bottom:278px;}
.y66{bottom:279px;}
.y65{bottom:293px;}
.y4b{bottom:334.570000px;}
.y49{bottom:343.920000px;}
.y4a{bottom:345.510000px;}
.y48{bottom:355.450000px;}
.y47{bottom:365.290000px;}
.y46{bottom:375.360000px;}
.y3e{bottom:385px;}
.y40{bottom:385.200000px;}
.y45{bottom:385.920000px;}
.y3f{bottom:395.290000px;}
.y44{bottom:396.000000px;}
.y43{bottom:396.240000px;}
.y42{bottom:411.360000px;}
.y41{bottom:422px;}
.y37{bottom:423.600000px;}
.y31{bottom:430.7px;}
.y33{bottom:431px;}
.y3c{bottom:432px;}
.y3d{bottom:433px;}
.y36{bottom:433px;}
.y2e{bottom:440.5px;}
.y30{bottom:441px;}
.y3a{bottom:442px;}
.y35{bottom:442.5px;}
.y3b{bottom:443px;}
.y2d{bottom:450px;}
.y2f{bottom:450.5px;}
.y32{bottom:451px;}
.y38{bottom:452px;}
.y34{bottom:452px;}
.y39{bottom:452.6px;}
.y2c{bottom:469.680000px;}
.y1a{bottom:473.590000px;}
.y19{bottom:474.110000px;}
.y17{bottom:470.5px;}
.y1b{bottom:474.350000px;}
.y18{bottom:474.800000px;}
.y16{bottom:493.740000px;}
.y15{bottom:490.5px;}
.y2b{bottom:500.640000px;}
.y2a{bottom:509.880000px;}
.y14{bottom:515.5px;}
.y29{bottom:530.160000px;}
.y12{bottom:534.5px;}
.y13{bottom:538.950000px;}
.y28{bottom:539.520000px;}
.y27{bottom:540px;}
.y11{bottom:549px;}
.y26{bottom:555.5px;}
.y25{bottom:574.570000px;}
.y24{bottom:594.960000px;}
.y23{bottom:606.3px;}
.y22{bottom:611.5px;}
.y10{bottom:613.5px;}
.yf{bottom:625px;}
.y21{bottom:630px;}
.ye{bottom:641px;}
.y20{bottom:648.5px;}
.y1f{bottom:674.780000px;}
.y1e{bottom:687px;}
.y1d{bottom:700px;}
.yd{bottom:703.450000px;}
.yc{/*bottom:713.280000px;*/bottom:704px;}
.yb{bottom:720px;}
.y1c{bottom:721px;}
.y2{bottom:736px;}
.y8{bottom:733px;}
.y3{bottom:740.010000px;}
.ya{bottom:740.040000px;}
.y6{bottom:740.430000px;}
.y9{bottom:740.440000px;}
.y4{bottom:740.680000px;}
.y5{bottom:741.160000px;}
.y7{bottom:741.430000px;}
.y1{bottom:760.400000px;}
.hf{height:15.984000px;}
.ha{height:19.188000px;}
.he{height:21.139603px;}
.h7{height:23.052000px;}
.hd{height:24.064000px;}
.h19{height:26.640000px;}
.hc{height:27.972000px;}
.h9{height:28.812000px;}
.h6{height:31.418000px;}
.h18{height:34.560000px;}
.hb{height:37.296000px;}
.h4{height:37.638000px;}
.h16{height:48.692000px;}
.h5{height:48.870000px;}
.h15{height:49.896000px;}
.h2{height:51.134000px;}
.h3{height:70.092000px;}
.h11{height:70.832000px;}
.h8{height:93.600808000px;}
.h12{height:76000px;}
.h14{height:109.22;}
.h13{height:114.552000px;}
.h17{height:190.862222px4000px;}
.h10{height:111.888000px;}
.h0{height:841.440000px;}
.h1{height:841.500000px;}
.w0{width:594.960000px;}
.w1{width:595.000000px;}
.x0{left:0.000000px;}
.x3f{left:44px;}
.xc{left:34.460000px;}
.x2{left:35px;}
.xd{left:42.5px;}
.x29{left:44.5px;}
.x3{left:44.890000px;}
.x11{left:68.649800px;}
.xe{left:80.519800px;}
.x2a{left:87.8px;}
.x34{left:90.240000px;}
.x2b{left:96.820000px;}
.x3b{left:99.860000px;}
.xf{left:108.009800px;}
.x4{left:109.330000px;}
.x10{left:111px;}
.x12{left:116.709800px;}
.x35{left:118.560000px;}
.x13{left:121.009800px;}
.x33{left:132.960000px;}
.x36{left:150.050000px;}
.x37{left:154.290000px;}
.x2c{left:155.760000px;}
.x32{left:155px;}
.x2d{left:164.760000px;}
.x3c{left:176.200000px;}
.x3d{left:184.240000px;}
.x38{left:190.220000px;}
.x3e{left:198.720000px;}
.x5{left:205.560000px;}
.x3a{left:210.240000px;}
.x39{left:224.900000px;}
.x6{left:238.220000px;}
.x7{left:242.430000px;}
.x1{left:252.240000px;}
.x48{left:294.490000px;}
.x24{left:296.650000px;}
.x8{left:298px;}
.x41{left:299.400000px;}
.x25{left:300.730000px;}
.x40{left:302.520000px;}
.x9{left:308px;}
.x45{left:308.650000px;}
.xa{left:309.650000px;}
.x28{left:313.620000px;}
.x27{left:316.330000px;}
.x21{left:317.770000px;}
.x26{left:319.560000px;}
.x14{left:324.000000px;}
.x42{left:337.210000px;}
.xb{left:351px;}
.x1e{left:353.474000px;}
.x15{left:357px;}
.x16{left:361.5px}
.x16a{left:414px;}
.x46{left:364.340000px;}
.x17{left:370px;}
.x47{left:372.620000px;}
.x23{left:383.290000px;}
.x20{left:386px;}
.x18{left:392.749426px;}
.x1f{left:393.993000px;}
.x19{left:400.966851px;}
.x1a{left:408.580851px;}
.x2e{left:414px;}
.x22{left:416.650000px;}
.x30{left:423.720000px;}
.x1b{left:429.105936px;}
.x43{left:432.000000px;}
.x1c{left:438.312936px;}
.x44{left:443.520000px;}
.x1d{left:445.840442px;}
.x2f{left:490px;}
.x31{left:499.790000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4c{letter-spacing:-1.286400pt;}
.lsc2{letter-spacing:-1.280000pt;}
.ls65{letter-spacing:-1.248000pt;}
.ls4e{letter-spacing:-0.640000pt;}
.ls44{letter-spacing:-0.630400pt;}
.ls66{letter-spacing:-0.614400pt;}
.ls79{letter-spacing:-0.566400pt;}
.ls43{letter-spacing:-0.518400pt;}
.lsa3{letter-spacing:-0.428800pt;}
.ls45{letter-spacing:-0.426667pt;}
.ls3{letter-spacing:-0.416000pt;}
.ls2f{letter-spacing:-0.411733pt;}
.ls60{letter-spacing:-0.396800pt;}
.ls5f{letter-spacing:-0.393067pt;}
.lsaf{letter-spacing:-0.387733pt;}
.ls86{letter-spacing:-0.337600pt;}
.ls1{letter-spacing:-0.326400pt;}
.ls5{letter-spacing:-0.316800pt;}
.lsad{letter-spacing:-0.315200pt;}
.ls4d{letter-spacing:-0.277867pt;}
.ls48{letter-spacing:-0.266133pt;}
.lsc7{letter-spacing:-0.262400pt;}
.ls7e{letter-spacing:-0.252800pt;}
.ls71{letter-spacing:-0.251733pt;}
.ls18{letter-spacing:-0.248533pt;}
.ls59{letter-spacing:-0.245333pt;}
.lsae{letter-spacing:-0.243200pt;}
.ls73{letter-spacing:-0.236800pt;}
.ls63{letter-spacing:-0.235733pt;}
.ls52{letter-spacing:-0.231467pt;}
.ls17{letter-spacing:-0.225067pt;}
.ls92{letter-spacing:-0.213333pt;}
.ls7d{letter-spacing:-0.208000pt;}
.ls36{letter-spacing:-0.201600pt;}
.ls32{letter-spacing:-0.200000pt;}
.ls53{letter-spacing:-0.199467pt;}
.ls8{letter-spacing:-0.195200pt;}
.ls58{letter-spacing:-0.187733pt;}
.ls57{letter-spacing:-0.174933pt;}
.ls4f{letter-spacing:-0.171733pt;}
.ls9a{letter-spacing:-0.163733pt;}
.ls2{letter-spacing:-0.157867pt;}
.lsc0{letter-spacing:-0.148267pt;}
.ls5b{letter-spacing:-0.143467pt;}
.ls33{letter-spacing:-0.132800pt;}
.ls40{letter-spacing:-0.115200pt;}
.ls15{letter-spacing:-0.112000pt;}
.ls6a{letter-spacing:-0.098667pt;}
.lsc{letter-spacing:-0.083200pt;}
.ls1b{letter-spacing:-0.079467pt;}
.ls64{letter-spacing:-0.075733pt;}
.ls7b{letter-spacing:-0.074667pt;}
.ls6{letter-spacing:-0.070400pt;}
.ls89{letter-spacing:-0.067200pt;}
.ls7f{letter-spacing:-0.062400pt;}
.ls77{letter-spacing:-0.045867pt;}
.lsa0{letter-spacing:-0.044800pt;}
.ls3a{letter-spacing:-0.037333pt;}
.ls8d{letter-spacing:-0.029867pt;}
.ls62{letter-spacing:-0.025600pt;}
.ls8b{letter-spacing:-0.022400pt;}
.lsa5{letter-spacing:-0.020800pt;}
.lsd{letter-spacing:-0.019200pt;}
.ls46{letter-spacing:-0.017600pt;}
.ls9d{letter-spacing:-0.016533pt;}
.ls3d{letter-spacing:-0.016000pt;}
.ls61{letter-spacing:-0.014400pt;}
.ls29{letter-spacing:-0.012800pt;}
.ls30{letter-spacing:-0.011733pt;}
.lsaa{letter-spacing:-0.011200pt;}
.ls39{letter-spacing:-0.010667pt;}
.ls8f{letter-spacing:-0.009600pt;}
.ls9{letter-spacing:-0.006400pt;}
.ls31{letter-spacing:-0.005333pt;}
.lsbd{letter-spacing:-0.004267pt;}
.ls1c{letter-spacing:-0.003200pt;}
.ls35{letter-spacing:-0.002133pt;}
.ls2e{letter-spacing:-0.001600pt;}
.ls1d{letter-spacing:-0.001067pt;}
.ls0{letter-spacing:0.000000pt;}
.ls12{letter-spacing:0.001067pt;}
.ls34{letter-spacing:0.001600pt;}
.ls6d{letter-spacing:0.002667pt;}
.ls97{letter-spacing:0.003200pt;}
.lsab{letter-spacing:0.004800pt;}
.ls38{letter-spacing:0.005333pt;}
.lsa6{letter-spacing:0.006400pt;}
.lsbb{letter-spacing:0.007467pt;}
.ls11{letter-spacing:0.008000pt;}
.lsc8{letter-spacing:0.008533pt;}
.ls42{letter-spacing:0.009067pt;}
.ls55{letter-spacing:0.010133pt;}
.ls98{letter-spacing:0.011200pt;}
.ls10{letter-spacing:0.014400pt;}
.ls5e{letter-spacing:0.015467pt;}
.ls22{letter-spacing:0.017600pt;}
.ls6c{letter-spacing:0.019200pt;}
.ls75{letter-spacing:0.020800pt;}
.ls85{letter-spacing:0.022400pt;}
.ls5d{letter-spacing:0.024533pt;}
.ls9e{letter-spacing:0.025600pt;}
.ls91{letter-spacing:0.028800pt;}
.ls49{letter-spacing:0.032000pt;}
.ls7a{letter-spacing:0.036267pt;}
.lsbf{letter-spacing:0.041067pt;}
.ls81{letter-spacing:0.041600pt;}
.ls74{letter-spacing:0.044800pt;}
.lsc4{letter-spacing:0.050667pt;}
.ls50{letter-spacing:0.052267pt;}
.lsa4{letter-spacing:0.052800pt;}
.lsb{letter-spacing:0.054400pt;}
.ls47{letter-spacing:0.056533pt;}
.lsb8{letter-spacing:0.057600pt;}
.lsac{letter-spacing:0.060800pt;}
.ls37{letter-spacing:0.073600pt;}
.ls76{letter-spacing:0.077333pt;}
.lse{letter-spacing:0.080000pt;}
.ls19{letter-spacing:0.083200pt;}
.ls4{letter-spacing:0.089600pt;}
.lsf{letter-spacing:0.096000pt;}
.ls2d{letter-spacing:0.100267pt;}
.ls93{letter-spacing:0.102400pt;}
.ls23{letter-spacing:0.105600pt;}
.ls26{letter-spacing:0.115200pt;}
.ls96{letter-spacing:0.120000pt;}
.lsc3{letter-spacing:0.128000pt;}
.lsb5{letter-spacing:0.132800pt;}
.ls7{letter-spacing:0.150400pt;}
.lsb9{letter-spacing:0.152000pt;}
.ls88{letter-spacing:0.162133pt;}
.ls24{letter-spacing:0.163200pt;}
.ls6f{letter-spacing:0.172800pt;}
.ls2b{letter-spacing:0.180267pt;}
.ls70{letter-spacing:0.180800pt;}
.ls72{letter-spacing:0.189867pt;}
.ls90{letter-spacing:0.193067pt;}
.ls2a{letter-spacing:0.196800pt;}
.ls8e{letter-spacing:0.201067pt;}
.ls27{letter-spacing:0.202667pt;}
.lsb2{letter-spacing:0.211200pt;}
.ls84{letter-spacing:0.213333pt;}
.ls82{letter-spacing:0.216533pt;}
.ls99{letter-spacing:0.224533pt;}
.lsb7{letter-spacing:0.237867pt;}
.ls1e{letter-spacing:0.248533pt;}
.ls78{letter-spacing:0.258667pt;}
.lsc6{letter-spacing:0.261333pt;}
.lsa7{letter-spacing:0.268800pt;}
.ls1a{letter-spacing:0.278400pt;}
.ls83{letter-spacing:0.281600pt;}
.ls6b{letter-spacing:0.288000pt;}
.ls6e{letter-spacing:0.316800pt;}
.ls68{letter-spacing:0.320000pt;}
.ls7c{letter-spacing:0.321067pt;}
.ls3f{letter-spacing:0.331200pt;}
.ls5a{letter-spacing:0.342933pt;}
.ls8a{letter-spacing:0.359467pt;}
.ls20{letter-spacing:0.364800pt;}
.ls8c{letter-spacing:0.372800pt;}
.ls51{letter-spacing:0.384000pt;}
.ls16{letter-spacing:0.385600pt;}
.lsb0{letter-spacing:0.401067pt;}
.ls69{letter-spacing:0.426667pt;}
.ls3c{letter-spacing:0.432000pt;}
.lsb4{letter-spacing:0.435733pt;}
.ls94{letter-spacing:0.441600pt;}
.ls2c{letter-spacing:0.452267pt;}
.lsb6{letter-spacing:0.464000pt;}
.lsa{letter-spacing:0.499200pt;}
.lsa2{letter-spacing:0.506667pt;}
.lsa8{letter-spacing:0.508267pt;}
.lsa1{letter-spacing:0.510933pt;}
.ls95{letter-spacing:0.512000pt;}
.ls3e{letter-spacing:0.521067pt;}
.lsbc{letter-spacing:0.524800pt;}
.lsbe{letter-spacing:0.526933pt;}
.ls54{letter-spacing:0.550400pt;}
.ls4b{letter-spacing:0.591467pt;}
.ls3b{letter-spacing:0.592000pt;}
.lsb3{letter-spacing:0.601600pt;}
.ls41{letter-spacing:0.637867pt;}
.lsb1{letter-spacing:0.640000pt;}
.ls4a{letter-spacing:0.657600pt;}
.ls87{letter-spacing:0.662400pt;}
.lsc1{letter-spacing:0.691200pt;}
.ls5c{letter-spacing:0.745600pt;}
.lsc5{letter-spacing:0.761067pt;}
.ls9c{letter-spacing:0.806400pt;}
.lsba{letter-spacing:0.819200pt;}
.ls28{letter-spacing:0.853333pt;}
.ls80{letter-spacing:1.043200pt;}
.ls21{letter-spacing:1.098667pt;}
.ls67{letter-spacing:1.190400pt;}
.ls1f{letter-spacing:1.260800pt;}
.ls14{letter-spacing:1.267200pt;}
.ls13{letter-spacing:1.280000pt;}
.ls9b{letter-spacing:1.324800pt;}
.ls25{letter-spacing:1.350400pt;}
.ls9f{letter-spacing:1.545600pt;}
.ls56{letter-spacing:1.683200pt;}
.lsa9{letter-spacing:11.520000pt;}
.ws4{word-spacing:-11.658667pt;}
.ws3{word-spacing:-11.296000pt;}
.ws1{word-spacing:-8.981333pt;}
.ws5{word-spacing:-7.818667pt;}
.ws2{word-spacing:-7.744000pt;}
.ws6{word-spacing:-6.528000pt;}
.ws7{word-spacing:-2.954667pt;}
.ws8{word-spacing:-2.944000pt;}
.ws9{word-spacing:-2.544000pt;}
.ws0{word-spacing:0.000000pt;}
.wsa{word-spacing:25.717333pt;}
._16{margin-left:-64.127995pt;}
._17{margin-left:-55.322768pt;}
._15{margin-left:-22.530667pt;}
._1a{margin-left:-13.286395pt;}
._b{margin-left:-11.658672pt;}
._a{margin-left:-8.984000pt;}
._6{margin-left:-7.272533pt;}
._c{margin-left:-5.368000pt;}
._2{margin-left:-3.165867pt;}
._4{margin-left:-1.764267pt;}
._0{width:1.478400pt;}
._1{width:4.176000pt;}
._3{width:6.132267pt;}
._7{width:8.502400pt;}
._5{width:10.933333pt;}
._10{width:13.672533pt;}
._11{width:15.096533pt;}
._d{width:19.376000pt;}
._8{width:21.248016pt;}
._13{width:22.606933pt;}
._9{width:26.417600pt;}
._14{width:27.822933pt;}
._e{width:31.500267pt;}
._f{width:34.267733pt;}
._18{width:37.829328pt;}
._19{width:39.802667pt;}
._12{width:167.325867pt;}
.fsb{font-size:26.666667pt;}
.fs2{font-size:32.000000pt;}
.fs8{font-size:34.666667pt;}
.fs6{font-size:40.000000pt;}
.fsa{font-size:42.666667pt;}
.fs5{font-size:45.333333pt;}
.fs1{font-size:48.000000pt;}
.fs16{font-size:53.333333pt;}
.fs7{font-size:56.000000pt;}
.fs4{font-size:61.333333pt;}
.fs15{font-size:64.000000pt;}
.fs3{font-size:72.000000pt;}
.fs9{font-size:74.666667pt;}
.fs17{font-size:85.333333pt;}
.fs13{font-size:90.666667pt;}
.fs12{font-size:96.000000pt;}
.fs0{font-size:98.666667pt;}
.fsf{font-size:122.666667pt;}
.fsd{font-size:141.333333pt;}
.fse{font-size:149.333333pt;}
.fs11{font-size:218.666667pt;}
.fsc{font-size:224.000000pt;}
.fs10{font-size:229.333333pt;}
.fs14{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y6f{bottom:38.080000pt;}
.y64{bottom:54.013333pt;}
.y63{bottom:118.933333pt;}
.y62{bottom:119.040000pt;}
.y61{bottom:145.266667pt;}
.y6e{bottom:146.866667pt;}
.y60{bottom:147.520000pt;}
.y6d{bottom:149.120000pt;}
.y5f{bottom:162.880000pt;}
.y6c{bottom:164.160000pt;}
.y5d{bottom:172.173333pt;}
.y6b{bottom:177.613333pt;}
.y5e{bottom:179.840000pt;}
.y5b{bottom:185.386667pt;}
.y6a{bottom:191.520000pt;}
.y5a{bottom:196.733333pt;}
.y59{bottom:201.146667pt;}
.y58{bottom:204.360000pt;}
.y5c{bottom:206.506667pt;}
.y57{bottom:206.546667pt;}
.y69{bottom:217.933333pt;}
.y56{bottom:221.453333pt;}
.y55{bottom:226.893333pt;}
.y54{bottom:254.093333pt;}
.y53{bottom:266.880000pt;}
.y52{bottom:279.680000pt;}
.y68{bottom:291.973333pt;}
.y51{bottom:296.000000pt;}
.y67{bottom:313.280000pt;}
.y50{bottom:317.133333pt;}
.y4f{bottom:340.800000pt;}
.y4e{bottom:351.360000pt;}
.y4d{bottom:353.600000pt;}
.y4c{bottom:369.600000pt;}
.y66{bottom:370.893333pt;}
.y65{bottom:388.173333pt;}
.y4b{bottom:446.093333pt;}
.y49{bottom:458.560000pt;}
.y4a{bottom:460.680000pt;}
.y48{bottom:473.933333pt;}
.y47{bottom:487.053333pt;}
.y46{bottom:500.480000pt;}
.y3e{bottom:512.640000pt;}
.y40{bottom:513.600000pt;}
.y45{bottom:514.560000pt;}
.y3f{bottom:527.053333pt;}
.y44{bottom:528.000000pt;}
.y43{bottom:528.320000pt;}
.y42{bottom:548.480000pt;}
.y41{bottom:561.600000pt;}
.y37{bottom:564.800000pt;}
.y31{bottom:573.440000pt;}
.y33{bottom:573.760000pt;}
.y3c{bottom:575.053333pt;}
.y3d{bottom:576.320000pt;}
.y36{bottom:576.640000pt;}
.y2e{bottom:586.240000pt;}
.y30{bottom:586.893333pt;}
.y3a{bottom:588.480000pt;}
.y35{bottom:588.800000pt;}
.y3b{bottom:589.760000pt;}
.y2d{bottom:599.360000pt;}
.y2f{bottom:600.000000pt;}
.y32{bottom:600.320000pt;}
.y38{bottom:601.600000pt;}
.y34{bottom:601.933333pt;}
.y39{bottom:602.893333pt;}
.y2c{bottom:626.240000pt;}
.y1a{bottom:631.453333pt;}
.y19{bottom:632.146667pt;}
.y17{bottom:632.186667pt;}
.y1b{bottom:632.466667pt;}
.y18{bottom:633.066667pt;}
.y16{bottom:658.320000pt;}
.y15{bottom:660.480000pt;}
.y2b{bottom:667.520000pt;}
.y2a{bottom:679.840000pt;}
.y14{bottom:691.853333pt;}
.y29{bottom:706.880000pt;}
.y12{bottom:718.120000pt;}
.y13{bottom:718.600000pt;}
.y28{bottom:719.360000pt;}
.y27{bottom:719.533333pt;}
.y11{bottom:738.253333pt;}
.y26{bottom:739.533333pt;}
.y25{bottom:766.093333pt;}
.y24{bottom:793.280000pt;}
.y23{bottom:807.693333pt;}
.y22{bottom:816.320000pt;}
.y10{bottom:823.040000pt;}
.yf{bottom:838.400000pt;}
.y21{bottom:841.280000pt;}
.ye{bottom:861.120000pt;}
.y20{bottom:871.693333pt;}
.y1f{bottom:899.706667pt;}
.y1e{bottom:917.053333pt;}
.y1d{bottom:934.400000pt;}
.yd{bottom:937.933333pt;}
.yc{bottom:951.040000pt;}
.yb{bottom:965.773333pt;}
.y1c{bottom:969.360000pt;}
.y2{bottom:986.440000pt;}
.y8{bottom:986.586667pt;}
.y3{bottom:986.680000pt;}
.ya{bottom:986.720000pt;}
.y6{bottom:987.240000pt;}
.y9{bottom:987.253333pt;}
.y4{bottom:987.573333pt;}
.y5{bottom:988.213333pt;}
.y7{bottom:988.573333pt;}
.y1{bottom:1013.866667pt;}
.hf{height:21.312000pt;}
.ha{height:25.584000pt;}
.he{height:28.186137pt;}
.h7{height:30.736000pt;}
.hd{height:32.085333pt;}
.h19{height:35.520000pt;}
.hc{height:37.296000pt;}
.h9{height:38.416000pt;}
.h6{height:41.890667pt;}
.h18{height:46.080000pt;}
.hb{height:49.728000pt;}
.h4{height:50.184000pt;}
.h16{height:64.922667pt;}
.h5{height:65.160000pt;}
.h15{height:66.528000pt;}
.h2{height:68.178667pt;}
.h3{height:93.456000pt;}
.h11{height:94.410667pt;}
.h12{height:102.442667pt;}
.h8{height:124.800000pt;}
.h14{height:145.632000pt;}
.h10{height:149.184000pt;}
.h13{height:152.736000pt;}
.h17{height:254.482963pt;}
.h0{height:1121.920000pt;}
.h1{height:1122.000000pt;}
.w0{width:793.280000pt;}
.w1{width:793.333333pt;}
.x0{left:0.000000pt;}
.x3f{left:43.840000pt;}
.xc{left:45.946667pt;}
.x2{left:48.480000pt;}
.xd{left:56.319733pt;}
.x29{left:58.053333pt;}
.x3{left:59.853333pt;}
.x11{left:91.533067pt;}
.xe{left:107.359733pt;}
.x2a{left:117.133333pt;}
.x34{left:120.320000pt;}
.x2b{left:129.093333pt;}
.x3b{left:133.146667pt;}
.xf{left:144.013067pt;}
.x4{left:145.773333pt;}
.x10{left:150.653067pt;}
.x12{left:155.613067pt;}
.x35{left:158.080000pt;}
.x13{left:161.346400pt;}
.x33{left:177.280000pt;}
.x36{left:200.066667pt;}
.x37{left:205.720000pt;}
.x2c{left:207.680000pt;}
.x32{left:209.920000pt;}
.x2d{left:219.680000pt;}
.x3c{left:234.933333pt;}
.x3d{left:245.653333pt;}
.x38{left:253.626667pt;}
.x3e{left:264.960000pt;}
.x5{left:274.080000pt;}
.x3a{left:280.320000pt;}
.x39{left:299.866667pt;}
.x6{left:317.626667pt;}
.x7{left:323.240000pt;}
.x1{left:336.320000pt;}
.x48{left:392.653333pt;}
.x24{left:395.533333pt;}
.x8{left:397.493333pt;}
.x41{left:399.200000pt;}
.x25{left:400.973333pt;}
.x40{left:403.360000pt;}
.x9{left:410.026667pt;}
.x45{left:411.533333pt;}
.xa{left:412.866667pt;}
.x28{left:418.160000pt;}
.x27{left:421.773333pt;}
.x21{left:423.693333pt;}
.x26{left:426.080000pt;}
.x14{left:432.000000pt;}
.x42{left:449.613333pt;}
.xb{left:467.293333pt;}
.x1e{left:471.298667pt;}
.x15{left:473.829333pt;}
.x16{left:483.117333pt;}
.x46{left:485.786667pt;}
.x17{left:494.073901pt;}
.x47{left:496.826667pt;}
.x23{left:511.053333pt;}
.x20{left:514.893333pt;}
.x18{left:523.665901pt;}
.x1f{left:525.324000pt;}
.x19{left:534.622468pt;}
.x1a{left:544.774468pt;}
.x2e{left:552.973333pt;}
.x22{left:555.533333pt;}
.x30{left:564.960000pt;}
.x1b{left:572.141247pt;}
.x43{left:576.000000pt;}
.x1c{left:584.417247pt;}
.x44{left:591.360000pt;}
.x1d{left:594.453923pt;}
.x2f{left:655.053333pt;}
.x31{left:666.386667pt;}
}

.txt1{font-family:Times BQ;}
.txt2{font-family:Times New Roman MT;}
.txt3{font-family:CenturyNova-Cd;}
.txt4{font-family:Arial Th;}
.txt5{font-family:Arial;}
.txt-resize1{font-size:35px;}
.txt-resize2{font-size:36px;}
.txt-resize3{font-size:37px;}
.txt-resize4{font-size:39px;}
.txt-resize5{font-size:41px;}
.txt-resize6{font-size:32px;}
.txt-resize7{font-size:50px;}
/*.txt-resize8{font-size:31px;}*/
.bold{font-weight:600;}
html, body {
    height: 100%;
    overflow: auto;
}